<!--
 * BRS Template File
 *
 * Written by Paul Rudolf Seebacher, Jörg Simon and Jürgen Brüder
 * 
 * Copyright © 2015 by the contributing authors
 *
 * This file is part of the BarCamp Registration System.
 * 
 * The BarCamp Registration System is free software: you can redistribute
 * it and/or modify it under the terms of the GNU Affero General Public
 * License as published by the Free Software Foundation, either version
 * 3 of the License, or (at your option) any later version.
 *
 * The BarCamp Registration System is distributed in the hope that it
 * will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with the BarCamp Registration System.
 * If not, see <http://www.gnu.org/licenses/>.
-->
<% layout('layout') -%>
<% block('title', "BarCamp Graz Abmeldung") %>

<div class="page-header">
  <h2>Vom BarCamp Graz 2015 abmelden</h2>
</div>

<div class="jumbotron">
  <h2>Mit welcher E-Mail Adresse bist du angemeldet?</h2>
  <p>Wir senden dir einen Link für deine Abmeldung an diese E-Mail Adresse</p>

  <form novalidate="novalidate" id="cancel-form" method="POST" action="/sendcancelmail">

    <div class="form-group">
      <label for="cancel_email">E-Mail Adresse</label>
      <input class="form-control" id="cancel_email" name="cancel_email" value="" type="text" required>
    </div>

    <div class="form-actions" style="margin-top:40px">
      <input id="cancel" class="btn btn-large btn-success" value="Abmelden" type="submit" style="height:50px" disabled="disabled">
      <a class="btn" href="http://barcamp-graz.at/">Nicht abmelden und zurück zur BarCamp Graz Website</a>
    </div>

  </form>

</div>
