<!--
 * BRS Template File
 *
 * Written by Paul Rudolf Seebacher, Jörg Simon and Jürgen Brüder
 * 
 * Copyright © 2015 by the contributing authors
 *
 * This file is part of the BarCamp Registration System.
 * 
 * The BarCamp Registration System is free software: you can redistribute
 * it and/or modify it under the terms of the GNU Affero General Public
 * License as published by the Free Software Foundation, either version
 * 3 of the License, or (at your option) any later version.
 *
 * The BarCamp Registration System is distributed in the hope that it
 * will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with the BarCamp Registration System.
 * If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="robots" content="NOINDEX, NOFOLLOW">

  <title><%= blocks.title %><% if(stagingEnvironment()) { %> (staging)<% } else if(developmentEnvironment()) { %> (development)<% } %></title>

  <% if(developmentEnvironment()) { %>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <% } else { %>
  <link rel="stylesheet" href="/css/barcamp.min.css">
  <% } %>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>

<body id="register">

<div class="container">

    <div class="masthead" style="margin-top:40px">
      <ul class="nav nav-pills pull-right">
        <li><a href="/">Anmeldung</a></li>
        <li><a href="/list">Teilnehmer</a></li>
        <li><a href="/tagcloud">TagCloud</a></li>
      </ul>
      <img src="/images/icon_and_wording529x160.png" />
    </div>

    <hr>

    <%- body %>

    <div id="footer" style="text-align:center; margin-top:40px">
      <p>© 2015 <a href="http://barcamp-graz.at">Barcamp Graz</a> - <a href="http://barcamp-graz.at/information/impressum/ ">Impressum</a> - <a href="http://barcamp-graz.at/information/charta/">Policy</a></p>
    </div>

</div>


  <% if(developmentEnvironment()) { %>
  <script data-main="/js/main" src="/js/require.js"></script>
  <script src="/js/config.js"></script>
  <% } else { %>
  <script data-main="/js/barcamp.min" src="/js/require.min.js"></script>
  <% } %>
</body>
</html>
