<!--
 * BRS Template File
 *
 * Written by Paul Rudolf Seebacher, Jörg Simon and Jürgen Brüder
 * 
 * Copyright © 2015 by the contributing authors
 *
 * This file is part of the BarCamp Registration System.
 * 
 * The BarCamp Registration System is free software: you can redistribute
 * it and/or modify it under the terms of the GNU Affero General Public
 * License as published by the Free Software Foundation, either version
 * 3 of the License, or (at your option) any later version.
 *
 * The BarCamp Registration System is distributed in the hope that it
 * will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with the BarCamp Registration System.
 * If not, see <http://www.gnu.org/licenses/>.
-->
<% layout('layout') -%>
<% block('title', "BarCamp Graz Sessionvorschläge") %>

<h2>Anmerkungen - BCG 2015</h2>

<% users.forEach(function(u, i) { %>

  <% if (u.note) { %>

    <div>
      <p><b style="color:#222"><%= u.getFullname() %></b></p>
      <p><%= u.note %></p>
    </div>

    <hr>

  <% } %>

<% }); %>
