<% layout('layout') -%>
<% block('title', "BarCamp Graz Anmeldung") %>

<h2>Anmeldung zum BarCamp Graz 2015</h2>
<h3 style="color:#888; margin:0 0 20px 0;">17.-19. April an der FH Joanneum Graz</h3>

<h3>Die Anmeldefrist ist abgelaufen!</h3>

<p>Es sind keine Anmeldungen für dieses Jahr mehr möglich.</p>
<p>Du kannst aber versuchen trotzdem beim Barcamp vorbeizuschauen und dich dort direkt am Check-In Desk anzumelden.<br><b style="color:#000">Achtung: Wir können dir ohne Online-Anmeldung keinen Platz am Barcamp Graz garantieren!</b></p>
<p>Also am besten möglichst früh am Freitag am Barcamp Graz sein (14 Uhr).</p>