<% layout('layout') -%>
<% block('title', "BarCamp Graz Anmeldung") %>

<h2>Anmeldung zum BarCamp Graz 2015</h2>

<p><b style="color:#222">Warum anmelden?</b> Da wir für alle Besucher ein kostenloses Buffet, Getränke und T-Shirts anbieten wollen, möchten wir im Vorhinein wissen wieviele Besucher zum BarCamp Graz kommen werden. Das erleichter nicht nur uns die Organisation, sondern bringt auch Dir die beste BarCamp Experience.</p>

<form novalidate="novalidate" method="POST" action="#">

  <h3>Persönliche Informationen</h3>

  <p>Jeder Besucher bekommt von uns ein Namensschild mit seinem Vor- und Nachnamen drauf. So können sich alle viel schneller kennenlernen.<br><b style="color:#333">Deine E-Mail Adresse wird, wie alle Daten, vertraulich behandelt und nie veröffentlicht.</b></p>
  <div style="margin-top:40px"></div>

  <div class="form-group">
    <label for="email">E-Mail Adresse</label>
    <input type="email" id="email" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="firstName">Vorname</label>
    <input class="form-control" id="firstName" name="firstName" value="" type="text" required>
  </div>

  <div class="form-group">
    <label for="lastName">Nachname</label>
    <input class="form-control" id="lastName" name="lastName" value="" type="text" required>
  </div>

  <div style="margin-top:40px"></div>

  <div class="form-group">
    <label for="lastName">Ist es Dein erstes BarCamp?</label>
    <p>Um Neulingen einen besonders guten Start bieten zu können, würden wir gerne wissen ob Du zum ersten Mal bei einem BarCamp zu Besuch bist.</p>
  </div>

  <div class="checkbox">
    <label>
      <input id="newcomer" name="newcomer" type="checkbox"> Ja, dies ist mein erstes BarCamp
    </label>
  </div>

  <div style="margin-top:40px"></div>

  <div class="form-group">
    <label for="shirtSize">T-Shirt Größe</label>
    <p>Unsere Teilnehmer bekommen jeweils ein T-Shirt von uns. Damit wir auch Deine Größe vorrätig haben, bitten wir Dich Deine T-Shirt Größe anzugeben:</p>
    <select id="shirtSize" name="shirtSize" class="form-control">
      <option value="NULL">Kein T-Shirt</option>
      <option value="S">S</option>
      <option value="M">M</option>
      <option value="L">L</option>
      <option value="XL">XL</option>
    </select>
  </div>

  <hr style="margin:40px 0">

  <h3>Deine drei "Tags"</h3>

  <p>Ein Tag (dt. "Etikett", sprich: Täg) ist eine Ein-Wort-Beschreibung von Dir. Jeder Besucher trägt drei Tags auf seinen Namensschild. Das sind meistens die drei Dinge, die Dich am meisten interessieren.</p>

  <p><b style="color:#222">Beispiele</b> für Tags sind: Web-Entwicklung, Basisdemokratie, Gründen, Photoshop, Wissensmanagement</p>
  <div style="margin-top:40px"></div>

  <div class="form-group">
    <label for="tag1">Tag 1</label>
    <input class="form-control" id="tag1" name="tag1" value="" type="text">
  </div>

  <div class="form-group">
    <label for="tag2">Tag 2</label>
    <input class="form-control" id="tag2" name="tag2" value="" type="text">
  </div>

  <div class="form-group">
    <label for="tag3">Tag 3</label>
    <input class="form-control" id="tag3" name="tag3" value="" type="text">
  </div>

  <hr style="margin:40px 0">

  <h3>Dein bevorzugtes Camp</h3>

  <p>Bitte gib uns an welches Camp Du gerne primär besuchen würdest. So können wir die Raumeinteilung einfacher gestalten. Selbstverständlich kannst Du an jedem der Camps teilnehmen und jederzeit wechseln.</p>
  <div style="margin-top:40px"></div>

  <div class="form-group">
    <label for="preferredCamp">Bevorzugtes Camp</label>
    <select id="preferredCamp" name="preferredCamp" class="form-control">
      <option value="appdevcamp">appdevcamp</option>
      <option value="designcamp">designcamp</option>
      <option value="politcamp">politcamp</option>
      <option value="startcamp">startcamp</option>
      <option value="uxcamp">uxcamp</option>
      <option value="wissenscamp">wissenscamp</option>
    </select>
  </div>

  <hr style="margin:40px 0">

  <h3>Kinderbetreuung</h3>

  <p>Wir bieten jedes Jahr Kinderbetreuung am BarCamp Graz an. Bitte gib hier an ob Du die Kinderbetreuung für Deine Kinder in Anspruch nehmen möchtest.</p>

  <div class="checkbox">
    <label>
      <input id="children" name="children" type="checkbox"> Ja, ich möchte für meine Kinder die BarCamp Graz Kinderbetreuung in Anspruch nehmen
    </label>
  </div>

  <hr style="margin:40px 0">

  <h3>Anmerkungen</h3>

  <p>Hier hast Du die Möglichkeit noch etwas zu Deiner Anmledung anzumerken.</p>

  <div class="form-group">
    <textarea class="form-control" id="note" name="note"></textarea>
  </div>

  <div style="margin-top:40px"></div>

  <div class="checkbox">
    <label>
      <input id="newcomer" name="newcomer" type="checkbox"> Ich akzeptiere die <a href="http://barcamp-graz.at/information/charta/" target="_blank">BarCamp Graz Charta</a> und komme verlässlich
    </label>
  </div>


  <div class="form-actions" style="margin-top:40px">
    <input id="register" class="btn btn-large btn-success" value="Zum BarCamp Graz anmelden" type="submit">
    <a class="btn" href="http://barcamp-graz.at/">Nicht anmelden und zurück zur BarCamp Graz Website</a>
  </div>


</form>
