<!--
 * BRS Template File
 *
 * Written by Paul Rudolf Seebacher, Jörg Simon and Jürgen Brüder
 * 
 * Copyright © 2015 by the contributing authors
 *
 * This file is part of the BarCamp Registration System.
 * 
 * The BarCamp Registration System is free software: you can redistribute
 * it and/or modify it under the terms of the GNU Affero General Public
 * License as published by the Free Software Foundation, either version
 * 3 of the License, or (at your option) any later version.
 *
 * The BarCamp Registration System is distributed in the hope that it
 * will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with the BarCamp Registration System.
 * If not, see <http://www.gnu.org/licenses/>.
-->
<% layout('layout') -%>
<% block('title', "BarCamp Graz Anmeldung") %>

<h2>Anmeldung zum BarCamp Graz 2015</h2>
<h3 style="color:#888; margin:0 0 20px 0;">17.-19. April an der FH Joanneum Graz</h3>

<h3>Die Anmeldefrist ist abgelaufen!</h3>

<p>Es sind keine Anmeldungen für dieses Jahr mehr möglich.</p>
<p>Du kannst aber versuchen trotzdem beim Barcamp vorbeizuschauen und dich dort direkt am Check-In Desk anzumelden.<br><b style="color:#000">Achtung: Wir können dir ohne Online-Anmeldung keinen Platz am Barcamp Graz garantieren!</b></p>
<p>Also am besten möglichst früh am Freitag am Barcamp Graz sein (14 Uhr).</p>
