<% layout('layout') -%>
<% block('title', "BarCamp Graz Sessionvorschläge") %>

<h2>Sessionvorschläge - BCG 2015</h2>

<% users.forEach(function(u, i) { %>

  <% if (u.session_desc) { %>

    <div>
      <p><b style="color:#222"><%= u.getFullname() %></b></p>
      <p><%= u.session_title %></p>
      <p><%= u.session_desc %></p>
    </div>

    <hr>

  <% } %>

<% }); %>
