<!--
 * BRS Template File
 *
 * Written by Paul Rudolf Seebacher, Jörg Simon and Jürgen Brüder
 * 
 * Copyright © 2015 by the contributing authors
 *
 * This file is part of the BarCamp Registration System.
 * 
 * The BarCamp Registration System is free software: you can redistribute
 * it and/or modify it under the terms of the GNU Affero General Public
 * License as published by the Free Software Foundation, either version
 * 3 of the License, or (at your option) any later version.
 *
 * The BarCamp Registration System is distributed in the hope that it
 * will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with the BarCamp Registration System.
 * If not, see <http://www.gnu.org/licenses/>.
-->
<% layout('layout') -%>
<% block('title', "BarCamp Graz - Danke!") %>

<div class="page-header">
  <h2>Anmeldung zum BarCamp Graz 2015</h2>
</div>

<div class="jumbotron">
  <h1>Vielen Dank!</h1>
  <p>Wir haben Dich als TeilnehmerIn des BarCamps Graz registriert und freuen uns bereits auf Dich.</p>
  <p><a class="btn btn-primary btn-lg" href="http://barcamp-graz.at/" role="button">Zurück zur BarCamp Website</a></p>
</div>
